<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script type="text/javascript" src="./static/common/jquery-2.1.4.js"></script>
    <link rel="stylesheet" th:href="@{/css/table.css}" />
    <title>spring boot redis</title>

    <script th:inline="javascript">
        var jsons = [[${jsons}]];
    </script>
</head>
<body>
    <h4>enums show.</h4>
    <p style="font-size: 15px">
        用枚举来维护页面的一些常量，如下拉选框中的选项、状态位显示(如数据库存的编码,但页面要显示其含义)、或部分常量。<br/>
        用枚举这样设计的好处是有一个地方可以统一管理，有新增只用在枚举类中引入，类似编码含义也可以是通过枚举的定义得到。<br/>
        但，每次都需要更改代码。所以，更好的当然是数据库来维护，有界面给使用者自己去维护。<br/>
        (只是自己单纯的一种思路，并不觉得特别理想，希望能接触到更好的此类设计。)<br/>
    </p>
    <div id="json" th:text="${jsons}">

    </div>
    <div>
        以下：<br/>
        public class SongsBean {<br/>
            private SongsEnum songsEnum;<br/>
            private int index;<br/>
            private String singer;<br/>
            private String name;<br/>
            private String date;<br/>
        }<br/>
    </div>
    <table class="table">
        <thead>
        <tr>
            <th th:text="序号">序号</th>
            <th th:text="歌手">歌手</th>
            <th th:text="歌名">歌名</th>
            <th th:text="发行时间">发行时间</th>
        </tr>
        </thead>
        <tbody>
        <!--/*@thymesVar id="beans" type="com.vergilyn.demo.springboot.enums.bean.SongsBean"*/-->
        <tr th:each="bean: ${beans}">
            <td th:text="${bean.index}"></td>
            <td th:text="${bean.singer}"></td>
            <td th:text="${bean.name}"></td>
            <td th:text="${bean.date}"></td>
        </tr>
        </tbody>
    </table>

    <div>
        以下：<br/>
        public class SongsDto {<br/>
           private SongsEnum song;<br/>
        }<br/>
    </div>
    <table class="table">
        <thead>
        <tr>
            <th th:text="序号">序号</th>
            <th th:text="歌手">歌手</th>
            <th th:text="歌名">歌名</th>
            <th th:text="发行时间">发行时间</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="dto: ${dtos}">
            <td th:text="${dto.song.index}"></td>
            <td th:text="${dto.song.singer}"></td>
            <td th:text="${dto.song.name}"></td>
            <td th:text="${dto.song.date}"></td>
        </tr>
        </tbody>
    </table>
</body>
</html>
