<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <script type="text/javascript" th:src="@{/common/jquery-2.1.4.js}"></script>
    <title>Spring Scope</title>
    <script type="text/javascript">

        /*<![CDATA[*/
        function singleton() {
            var url = "/singleton";
            $.ajax({
                type: 'get',
                url: url,
                data: {},
                success: function (r) {
                    $("#singleton").text(JSON.stringify(r));
                },
                error: function (err) {
                    alert('error!');
                }
            });
        }

        function prototype() {
            var url = "/prototype";
            $.ajax({
                type: 'get',
                url: url,
                data: {},
                success: function (r) {
                    $("#prototype").text(JSON.stringify(r));
                },
                error: function (err) {
                    alert('error!');
                }
            });
        }
        /*]]>*/
    </script>
</head>
<body>
<h4>Singleton</h4>
<input type="button" value="singleton" onclick="singleton()"/><br/>
<h5>结果：</h5>
<p id="singleton"></p>

<h4>Prototype</h4>
<input type="button" value="prototype" onclick="prototype()"/><br/>
<h5>结果：</h5>
<p id="prototype"></p>
</body>
</html>