<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<script type="text/javascript" src="./static/common/jquery-2.1.4.js"></script>
<title>spring boot redis</title>
<script type="text/javascript">

	/*<![CDATA[*/
	function setString() {
		$.ajax({
			type : 'POST',
			url : '/setString',
			data : {"value":$("#value").val()},
			success : function(r) {
				console.log(r);
			},
			error : function() {
				alert('error!')
			}
		});
	}

	function getString() {
		$.ajax({
			type : 'POST',
			contentType : 'application/json',
			url : '/getString',
			success : function(r) {
				console.log(r);
				$("#result").text(JSON.stringify(r));
			},
			error : function() {
				alert('error!')
			}
		});
	}
	function getCache() {
		$.ajax({
			type : 'POST',
			contentType : 'application/json',
			url : '/getCache?id='+$("#cacheId").val(),
			success : function(r) {
				console.log(r);
				$("#cacheResult").text(JSON.stringify(r));
			},
			error : function() {
				alert('error!')
			}
		});
	}
	/*]]>*/
</script>
</head>
<body>
	<h4>base redis</h4>
	<input type="text" id="value" />
	<input type="button" value="设置" onclick="setString()" /><br/>
	<input type="button" value="获取" onclick="getString()" /><br/>
	<h5>结果：</h5>
	<p id="result"></p>
	<br />
	
	<h4>redis cache</h4>
	<input type="text" id="cacheId" /><br/>
	<input type="button" value="获取缓存" onclick="getCache()" /><br/>
	<h5>缓存结果：</h5>
	<p id="cacheResult"></p>
</body>
</html>
