<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<script type="text/javascript" src="./static/common/jquery-2.1.4.js"></script>
<title>spring boot interceptor</title>
<script type="text/javascript">

	/*<![CDATA[*/
	function interceptor(flag) {
		var url = flag ? '/needInterceptor' : '/notInterceptor'
		$.ajax({
			type : 'GET',
			url : url,
			data : {"name":$("#name").val()},
			success : function(r) {
				if(flag) $("#result").html(r);
				else $("#result").html(JSON.stringify(r));
			},
			error : function() {
				alert('error!');
			}
		});
	}
	/*]]>*/
</script>
</head>
<body>
	<h4>spring boot interceptor</h4>
	<div style="font-size: 12px">
		说明： <br/>
		&nbsp;&nbsp; 当点击[不拦截]，拦截器preHandle(...) 返回true，继续后面操作。结果显示：json对象字符串。<br/>
		&nbsp;&nbsp; 但点击[拦截]，拦截器preHandle(...) 返回false，请求转发到interceptor_forward.html。结果显示：interceptor_forward.html的页面内容。<br/>
	</div><br/>
	name:<input type="text" id="name" /> &nbsp;&nbsp;
	<input type="button" value="不拦截" onclick="interceptor(false)" /> &nbsp;&nbsp;
	<input type="button" value="拦截" onclick="interceptor(true)" />
	<br/>
	<div style="font-size: 12px;">结果：<div id="result" style="font-weight: bold;"></div></div>
</body>
</html>
