<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <package name="com.vergilyn.demo.springboot.mybatis.domain"/>
    </typeAliases>
    <mappers>
        <mapper resource="config/mybatis/mapper/CityMapper.xml"/>
        <mapper resource="config/mybatis/mapper/HotelMapper.xml"/>
    </mappers>
</configuration>
