<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <script type="text/javascript" src="./static/common/jquery-2.1.4.js"></script>
    <title>spring boot xss-filter</title>
    <script type="text/javascript">

        /*<![CDATA[*/
        function filter(flag) {
            var url = flag ? '/xssRequired' : '/xssRequest'
            $.ajax({
                type: 'POST',
                url: url,
                data: {"transform": $("#transform").val()},
                success: function (r) {
                    $("#result").text(JSON.stringify(r));
                },
                error: function () {
                    alert('error!');
                }
            });
        }
        /*]]>*/
    </script>
</head>
<body>
<h4>spring boot xss-filter</h4>
<div style="font-size: 12px">
    说明： <br/>
   测试common-lang3.jar中的StringEscapeUtils.escapeHtml4(...)<br/>
</div>
<br/>
transform:<input type="text" id="transform"/> &nbsp;&nbsp;
<input type="button" value="不过滤" onclick="filter(false)"/> &nbsp;&nbsp;
<input type="button" value="过滤" onclick="filter(true)"/>
<br/>
<div style="font-size: 12px;">结果：<font id="result" style="font-weight: bold;"></font></div>
</body>
</html>
